* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace, DFKai-sb;
}

.pinline {
    display: inline;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.GameTitle {
    /* background-color: red; */
    /* display: inline; */
    /* margin: 0 20%; */
}

.home {}

.login {}

.Centermap {

display: flex;
    justify-content: space-around;
    align-items: center;

}


.block {
    width: 60px;
    height: 60px;
    background-color: rgb(221, 221, 221);
    font-size: 0px;

}

.mark {
    background-color: red;
}

.open {
    background-color: rgb(255, 255, 255);

}

.open.Numberblock {
    font-size: large;
    
}

.JumpScreen {
    background-color: brown;

}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}