* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace, DFKai-sb;
}

.pinline {
    display: inline;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.GameTitle {
    /* background-color: red; */
    /* display: inline; */
    /* margin: 0 20%; */
}

.home {}

.login {}

.Centermap {

    margin: 0% 20% 0% 20%;

}


.block {
    width: 60px;
    height: 60px;
    background-color: rgb(221, 221, 221);
    font-size: 0px;

}

.mark {
    background-color: red;
}

.open {
    background-color: rgb(255, 255, 255);

}

.open.Numberblock {
    font-size: large;
}

.JumpScreen {
    background-color: brown;

}