{% extends "master.html" %}
{% load static %}
<html lang="en">

<head>
    {% block head%}
    <title>MineSweeper</title>

    {% endblock%}



</head>

<body>
    {% block content %}
    <div class="containerbox">
        {{block.super}}
        <!-- <form action="">
            <p>Username</p>
            <input type="text" name="" id="">
            <p>Password</p>
            <input type="text">
            <br>
            <input type="submit">
        </form> -->
        {% if request.user.is_authenticated %}
        <a href="/Minesweeper/">Logout</a>
        {% else %}
            <form action="/Minesweeper/" method="post">
                {% csrf_token %}
                <label for="username">Username: </label>
                {{ login_form.username }}
                <label for="password">Password: </label>
                {{ login_form.password }}
                <input type="submit" value="繳交">
            </form>
        {% endif %}
    </div>
    {% endblock %}

</body>

</html>