{% extends "master.html" %}

{% load static %}
<html lang="en">
<head>
    {% block head%}
    <title>MineSweeper</title>
    
    {% endblock%}
    
    
    
</head>
<body>
    {% block content %}
        <div >
            <h2>踩地雷</h2>
        </div>
        <!--location.href 會在當前網址的後方加上 /你要到的url 所以必須跟你url的網址一模一樣-->
        <div>
            <input type="button" value="開始遊戲" name="" id="StartGame" onclick="location.href = 'GameSetting'">
        </div>
        <div>
            <input type="button" value="調整設定" name="" id="ChangeSetting" onclick = "location.href = 'Setting'";>
            <h2></h2>
        </div>
    {% endblock %} 
   
</body>
</html>
  