{% extends "master.html" %}
{% load static %}
<html lang="en">

<head>
    {% block head%}
    <title>MineSweeper</title>

    {% endblock%}



</head>

<body>
    {% block content %}
    <div class="containerbox">
        {{block.super}}
        <div class="registerBox">
            <div class="transbox">
                <form method="POST" action="../Minesweeper/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button name="submit">register</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>